@charset "UTF=8";
div,
input,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
  cursor: pointer;
}
li {
  position: relative;
}
body {
  background-color: #eee;
}
h2 {
  font-size: 30px;
}
#wrap {
  width: 300px;
  height: 425px;
  margin: 100px auto 0px;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 50px 25px 5px;
}
.input-content {
  width: 100%;
  margin-bottom: 10px;
}
#wrap input {
  width: 100%;
  height: 50px;
  padding-right: 5px;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  border: 0px;
}
.clear {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 50px;
  text-align: left;
  font-size: 30px;
  background-color: #eee;
  padding-left: 20px;
  opacity: 0.5;
  margin-bottom: 10px;
}
.clear:hover {
  transform: translateY(-2px);
  background-color: #FFF;
  opacity: 1.2;
  cursor: pointer;
}
.content {
  display: flex;
  width: 100%;
}
#wrap .signs {
  width: 25%;
  height: 50px;
}
#wrap .signs li {
  width: 100%;
  height: 48px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  margin-left: 5.5px;
  background-color: #eee;
  opacity: 0.5;
  margin-bottom: 10px;
}
#wrap .signs li:hover {
  transform: translateY(-2px);
  background-color: #FFF;
  opacity: 1.2;
}

#wrap .num {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 200px;
}
#wrap .num li {
  flex-shrink: 0;
  width: 30%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 30px;
  margin-left: 7.5px;
  background-color: #eee;
  opacity: 0.5;
  margin-bottom: 10px;
}
#wrap .num li:hover {
  transform: translateY(-2px);
  background-color: #FFF;
  opacity: 1.2;
}
#wrap .num li:nth-child(3n+1) {
  margin-left: 0PX;
}
